* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #F8EEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

h1,
h2,
p {
    padding: 0;
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 320px;
    z-index: -1;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 470px;
    max-height: 565px;
    gap: 32px;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #E3E3E3;
    background-color: #FFFFFF;
    box-shadow: 0px 32px 56px #50007619;
}

.container .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 66px;
    gap: 24px;
    align-items: center;
}

.container .header img {
    height: 40px;
    width: 40px;
}

.container .header h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0px;
    color: #301534;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 291px;
    max-height: 386px;
    gap: 24px;
}

.list-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: auto;
}

.list-item .question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.list-item .question h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    color: #301534;
}

.list-item .question:hover h2 {
    color: #AD28EB;
    transition: 0.2s ease
}

.list-item .question img {
    width: 30px;
    height: 30px;
}

.list-item .answer {
    display: none;
    width: 100%;
    height: auto;
}

.list-item.active .answer {
    display: flex;
}

.list-item .answer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #8B6990;
}

hr {
    border: none;
    width: 100%;
    height: 1px;
    background-color: #F8EEFF;
}

@media screen and (max-width: 640px) {
    .container {
        width: 327px;
        min-height: 470px;
        max-height: 565px;
        gap: 24px;
        padding: 24px;
    }

    .container .header {
        height: 38px;
    }

    .container .header img {
        height: 24px;
        width: 24px;
    }

    .container .header h1 {
        font-size: 32px;
        line-height: auto;
    }

    .list-container {
        min-height: 345px;
        max-height: 440px;
        gap: 20px;
    }

    .list-item {
        gap: 20px;
    }

    .list-item .question {
        min-height: 30px;
        height: auto;
        max-height: 38px;
    }

    .list-item .question h2 {
        font-size: 16px;
        line-height: auto;
        color: #301534;
    }

    .list-item .answer p {
        font-size: 14px;
        line-height: 150%;
    }

}