* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    background-color: #684BB1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

h1,
p {
    padding: 0;
    margin: 0;
}

.image {
    z-index: -1;
    position: absolute;
    inset: 0;
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1272px;
    height: 700px;
    gap: 104px;
}

.container .logo {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
}

.container .logo img {
    width: 200px;
    height: 32px;
}

.container .content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 24px;
}

.hero-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 56px;
}

.hero-container {
    display: flex;
    width: 696px;
    height: 493px;
}

.hero-container img {
    width: 100%;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 493px;
    justify-content: center;
    gap: 40px;
}

.text-container .text {
    display: flex;
    flex-direction: column;
    width: 520px;
    gap: 24px;
}

.text-container .text h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.text-container .text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.text-container .btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    color: #684BB1;
    background-color: #FFFFFF;
    height: 56px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    box-shadow: 2px 4px 9px 3px #0000003F;
}

.text-container .btn:hover {
    background-color: #E880E8;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s ease;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    align-items: end;
    justify-content: end;
}

.socials div {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    align-items: center;
    justify-content: center;
}

.socials div i {
    color: #FFFFFF;
}

.socials div:hover {
    border: 1px solid #FF52C1;
    cursor: pointer;
    transition: 0.1s ease;
}

.socials div:hover i {
    color: #FF52C1;
    transition: 0.1s ease;
}

@media screen and (max-width:1299px) and (min-width:620px) {

    body {
        min-height: 100vh;
        padding: 40px 0px;
    }

    .container {
        width: 608px;
        height: 934px;
        gap: 64px;
    }

    .container .logo img {
        width: 120px;
        height: 19px;
    }

    .container .content {
        height: 851px;
        width: 100%;
        gap: 40px;
    }

    .hero-section {
        flex-direction: column;
        gap: 40px;
    }

    .hero-container {
        width: 100%;
        height: 430px;
    }

    .text-container {
        width: 100%;
        height: 301px;
        gap: 40px;
    }

    .text-container .text {
        width: 520px;
        text-align: center;
    }

    .text-container .btn {
        align-self: center;
    }

    .socials {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:619px) {

    body {
        min-height: 100vh;
        padding: 40px 0px;
    }

    .container {
        width: 305px;
        height: 726px;
        gap: 64px;
    }

    .container .logo img {
        width: 120px;
        height: 19px;
    }

    .container .content {
        height: 643px;
        width: 100%;
        gap: 56px;
    }

    .hero-section {
        flex-direction: column;
        gap: 56px;
    }

    .hero-container {
        width: 100%;
        height: 214px;
    }

    .text-container {
        width: 100%;
        height: 276px;
        gap: 40px;
    }

    .text-container .text {
        width: 304px;
        text-align: center;
    }

    .text-container .text h1 {
        font-size: 24px;
    }

    .text-container .text p {
        font-size: 16px;
    }

    .text-container .btn {
        font-size: 12px;
        height: 40px;
        width: 200px;
        border-radius: 20px;
        align-self: center;
    }

    .socials {
        align-items: center;
        justify-content: center;
    }

    .socials div {
        width: 32px;
        height: 32px;
    }
}