* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

h1,
p {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 74px;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    width: 540px;
    gap: 16px;
}

.title-wrapper h1 {
    color: #4D4F62;
    font-size: 36px;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: 0.25px;
    text-align: center;
}

.title-wrapper span {
    color: #4D4F62;
    font-size: 36px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.25px;
    text-align: center;
}

.title-wrapper p {
    color: #4D4F62;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 140%;
    text-align: center;
}

.card-wrapper {
    width: 1114px;
    height: 532px;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
}

.content {
    padding: 32px;
    border-radius: 8px;
    border-top-style: solid;
    border-top-width: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 30px -11px #83a6d27f;
}

.content .title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 75px;
    width: 100%;
}

.content .title h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: 0px;
    color: #4D4F62;
}

.content .title p {
    font-size: 13px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #6A7178;
}

.content .image {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    padding-top: 32px;
}

.content .image img {
    width: 64px;
    height: 64px;
}

.content1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    border-top-color: #44D3D2;
}

.content2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
    border-top-color: #EA5454;
}

.content3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    border-top-color: #FCAE4A;
}

.content4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
    border-top-color: #549EF2;
}

@media screen and (max-width:1200px) and (min-width:720px) {
    body {
        min-height: 100vh;
        padding: 80px 0;
        width: 100%;
    }

    .card-wrapper {
        width: 660px;
        height: 814px;
    }

    .content-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .content1 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .content2 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .content4 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 5;
    }

    .content3 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 3;
    }
}

@media screen and (max-width:719px) {
    body {
        min-height: 100vh;
        padding: 80px 0;
        width: 100%;
    }

    .card-wrapper {
        width: 314px;
        height: 1096px;
    }

    .title-wrapper {
        width: 316px;
        height: 147px;
    }

    .title-wrapper h1 {
        font-size: 24px;
    }

    .title-wrapper span {
        font-size: 24px;
    }

    .title-wrapper p {
        font-size: 15px;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 314px;
        height: 250px;
    }

    .content1,
    .content2,
    .content3,
    .content4 {
        grid-column: unset;
        grid-row: unset;
        grid-column-start: unset;
        grid-row-start: unset;

    }

}