* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

h1,
p {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.img-container {
    order: 2;
    display: flex;
    width: 40%;
    height: 100%;
    background-image: url("./images/hero-desktop.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content-wrapper {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 80px 0px;
    margin-top: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 800px;
    gap: 136px;
}

.logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    height: 32px;
}

.logo img {
    width: 158px;
    height: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 414px;
    gap: 32px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 326px;
    text-align: start;
}

.text h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 17.5px;
    color: #423A3A;
    text-transform: uppercase;
}

.text h1 span {
    font-weight: 300;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 17.5px;
    color: #CE9898;
    text-transform: uppercase;
}

.text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 215%;
    letter-spacing: 0px;
    color: #CE9898;
}

.form {
    display: flex;
    width: 100%;
    height: 56px;
    position: relative;
}

.form .error-text {
    position: absolute;
    bottom: -28px;
    left: 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 215%;
    letter-spacing: 0.2px;
    color: #F96464;
    display: none;
}

.form.hasError .error-text {
    display: block;
}

.form .error-icon {
    position: absolute;
    right: 112px;
    top: 16px;
    width: 24px;
    height: 24px;
    display: none;
}

.form.hasError .error-icon {
    display: block;
}

.form.hasError .address input {
    border: 1px solid #F96464;
}

.form .address {
    display: flex;
    width: 100%;
    height: 100%;
}

.form .address input {
    width: 100%;
    height: 56px;
    border: 1px solid #CE9898;
    border-radius: 28px;
    padding: 0px 32px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0px;
    color: #423A3A;
}

.form .address input:focus {
    border: 1px solid #EE8B8B;
    transition: all 0.3s ease;
}

.form .address input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0px;
    color: #CE9898;
}

.form button {
    position: absolute;
    right: 0;
    padding: 16px 40px;
    width: 100px;
    height: 56px;
    border: none;
    border-radius: 28px;
    box-shadow: 0px 5px 10px 2px #F8BFBF3F;
    background: linear-gradient(#F8BFBF, #EE8B8B);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0px;
    cursor: pointer;
}

.form button:hover {
    background: linear-gradient(#F8BFBFBF, #EE8B8BBF);
    transition: 0.3s ease;
}

.mobile-logo {
    display: none;
}

@media screen and (max-width:768px) and (min-width:500px) {
    body {
        overflow-y: scroll;
        min-height: 100vh;
        width: 100%;
    }

    .container {
        flex-direction: column;
        align-items: center;
        max-height: 1024px;
        margin-bottom: 72px;
    }

    .img-container {
        order: 1;
        display: flex;
        width: 100%;
        height: 400px;
        background-image: url("./images/hero-mobile.jpg");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .content-wrapper {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 445px;
        height: 414px;
        padding: 0px;
        margin-top: 64px;
    }

    .wrapper {
        width: 100%;
        height: 100%;
    }

    .logo {
        display: none;
    }

    .mobile-logo {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: start;
        height: 72px;
    }

    .mobile-logo img {
        width: 100px;
        height: 20px;
        margin-left: 80px;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 414px;
        gap: 32px;
    }

    .text {
        text-align: center
    }

}

@media screen and (max-width:499px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 72px;
    }

    .img-container {
        order: 1;
        display: flex;
        width: 100%;
        height: 250px;
        background-image: url("./images/hero-mobile.jpg");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .content-wrapper {
        width: 312px;
        height: 310px;
        margin-top: 64px;
        padding: 0px;
    }

    .wrapper {
        width: 100%;
        height: 100%;
    }

    .logo {
        display: none;
    }

    .mobile-logo {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: start;
        height: 72px;
    }

    .mobile-logo img {
        width: 100px;
        height: 20px;
        margin-left: 80px;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 310px;
        gap: 32px;
    }

    .text {
        text-align: center;
        gap: 16px;
    }

    .text h1 {
        font-size: 40px;
        letter-spacing: 10px;
    }

    .text h1 span {
        font-size: 40px;
        letter-spacing: 10px;
    }

    .text p {
        font-size: 14px;
        line-height: 155%;
    }

    .form {
        height: 48px;
    }

    .form .error-text {
        bottom: -24px;
        left: 24px;
    }

    .form .address input {
        height: 48px;
        border-radius: 24px;
        padding: 0px 24px;
    }


    .form button {
        position: absolute;
        right: 0;
        padding: 16px 24px;
        width: 64px;
        height: 48px;
        border-radius: 24px;
    }

    .form .error-icon {
        right: 72px;
        top: 12px;
        width: 24px;
        height: 24px;
    }


}