* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    background-color: #131518;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

h1,
p {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    width: 412px;
    height: 416px;
    border-radius: 30px;
    background: radial-gradient(#232A34 0%, #181E27 100%);
}

.rating-content,
.thanks-content {
    display: flex;
    flex-direction: column;
    width: 351px;
    height: 347px;
    gap: 32px;
}

.star-container {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 16px;
    background-color: #262E38;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 108px;
}

.image-container img {
    width: 162px;
    height: 108px;
}

.text-container,
.message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.message-container {
    align-items: center;
}

.text-container>h1,
.message-container>h1 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0px;
}

.text-container>p,
.message-container>p {
    color: #969FAD;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.score-container {
    display: flex;
    align-self: center;
    width: 193px;
    height: 32px;
    align-items: center;
    justify-content: center;
    background-color: #262E38;
    border-radius: 22px;
}

.score-container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FC7614;
}

.circles {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #262E38;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #969FAD;
}

.circle:hover {
    background-color: #FC7614;
    color: #262E38;
    cursor: pointer;
    transition: 0.2s ease;
}

.circle.selected {
    background-color: #FFFFFF;
    color: #262E38;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
}

.btn {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background-color: #FC7614;
    color: #131518;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #FFFFFF;
    color: #262E38;
    cursor: pointer;
    transition: 0.2s ease;
}

.hidden {
    display: none;
}

@media screen and (max-width:600px) {
    .container {
        width: 327px;
        padding: 24px;
        height: 360px;
        border-radius: 15px;
    }

    .rating-content,
    .thanks-content {
        width: 279px;
        height: 303px;
        gap: 24px;
    }

    .star-container {
        width: 40px;
        height: 40px;
        padding: 12px;
    }

    .image-container {
        height: 96px;
    }

    .image-container img {
        width: 144px;
        height: 96px;
    }

    .score-container {
        width: 168px;
    }

    .score-container p {
        font-size: 14px;
        line-height: 22px;
    }

    .text-container>h1,
    .message-container>h1 {
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0px;
    }

    .text-container>p,
    .message-container>p {
        color: #969FAD;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    .circles {
        gap: 16px;
    }

    .circle {
        width: 42px;
        height: 42px;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }

    .btn {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }

}